gdown
h5py
ipympl
librosa==0.11.0
ninja
numpy==2.4.0
pandas==2.3.3
pesq==0.0.4
pillow
protobuf
pyarrow
pyroomacoustics==0.9.0
pystoi==0.4.1
pytorch-lightning==2.1.0
scipy==1.16.3
sdeint
setuptools
seaborn
soundfile==0.13.1
torch==2.8.0+cu126
torch-ema==0.3
torch-pesq==0.1.2
torchaudio==2.8.0+cu126
torchvision
torchinfo
torchsde
tqdm==4.67.1
wandb